@use './mixin.scss' as mixin;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

// Layout

.header {
  background-color: mixin.$color-primary-light-1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;

  @include mixin.bp-largest {
    padding: 0 2rem 0 2rem;
  }
}

.business-solution {
  padding: 7.5rem 0;
}

.business-solution .container {
  flex-direction: column;
}

.business-solution .offers {
  display: flex;

  @include mixin.bp-small {
    display: block;
  }
}

.statistics-container {
  background-color: mixin.$color-primary-light-2;
}

.statistics-container .container {
  justify-content: center;
}

.portfolio .container {
  flex-wrap: wrap;

  display: flex;
}

.portfolio {
  padding: 8rem 0 4rem 0;

  @include mixin.bp-small {
    padding: 4rem 0 2rem 0;
  }
}

.testimonials {
  padding: 0 0 5rem 0;

  @include mixin.bp-small {
    padding: 0;
  }
}

.testimonials .container {
  flex-wrap: wrap;
}

.testimonials__wrapper {
  padding: 8rem 2rem;
  display: flex;
}

.subscribe-wrapper .container {
  justify-content: center;

  padding: 8rem;

  @include mixin.bp-small {
    padding: 3rem;
  }
}

.footer-wrapper {
  background-color: #00ca72;
  padding: 10rem 0 3rem 0;

  @include mixin.bp-small {
    padding: 4rem 0 2rem 0;
  }
}
